body { background: #3f3480; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 40px; display: flex; }
.block-order-0 { color: #1b4c9; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #389cba; font-size: 17px; margin-bottom: 5px; }
.block-shipping-2 { color: #8313d8; font-size: 20px; margin-bottom: 5px; }
.block-config-3 { color: #bd43be; font-size: 21px; margin-bottom: 5px; }
.block-helper-4 { color: #cd31fa; font-size: 20px; margin-bottom: 5px; }